
<!DOCTYPE>
<html>
  <head>

    
        <title>商品源</title>
        <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
        <meta http-equiv="pragma" content="no-cache">
        <meta http-equiv="cache-control" content="no-cache">
        <meta http-equiv="expires" content="0">    
        <meta http-equiv="keywords" content="keyword1,keyword2,keyword3">
        <meta http-equiv="description" content="This is my page">
        <meta name="viewport" content="maximum-scale=1.0,minimum-scale=1.0,user-scalable=0,width=device-width,initial-scale=1.0"/>
        <meta name="viewport" content="width=device-width,minimum-scale=1.0,maximum-scale=1.0,user-scalable=no" />
            
        <link rel="stylesheet" href="css/style.css" />
        <link rel="stylesheet" type="text/css" href="css/commoditySource.css"/>
    </head>
    
    <body ng-app="myApp" ng-controller="commoditySource">
        <div class="page">
            <!-- 头部 start -->
            <header class="header"><h1>商品源</h1></header>
            <!-- 头部 end -->
              <div class='page_view'>
                <div class='view_div' ng-repeat=" item in list">
                  <div class='div_img' id='{{item.id}}'><img  src='{{getImg + item.infoImgUrl}}'></img></div>
                  <div class='div_text'>
                    <div class='text_title'>{{item.title}}</div>
                    <div class='text_prices'>{{item.price}} 元/瓶</div>
                  </div>
                  <div class='div_btn'>
                    <div class='btn_update' ng-click="setUpdate(item.id)">修改</div>
                    <div class='btn_delete' ng-click="setDelete(item.id)">删除</div>
                  </div>
                </div>
              </div>
              <!-- add -->
              <div class='add' ng-click='bindtapAdd()'>add</div>
        </div>
        
        <!-- 脚本  -->
        <script type="text/javascript" src="js/jquery-1.11.0.js" ></script>
        <script src="http://cdn.static.runoob.com/libs/angular.js/1.4.6/angular.min.js"></script>
        <script type="text/javascript" src="js/commoditySource.js" ></script>
        
    </body>
</html>
