
<!DOCTYPE>
<html>
  <head>

    
        <title>经销商账号管理</title>
        <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
        <meta http-equiv="pragma" content="no-cache">
        <meta http-equiv="cache-control" content="no-cache">
        <meta http-equiv="expires" content="0">    
        <meta http-equiv="keywords" content="keyword1,keyword2,keyword3">
        <meta http-equiv="description" content="This is my page">
        <meta name="viewport" content="maximum-scale=1.0,minimum-scale=1.0,user-scalable=0,width=device-width,initial-scale=1.0"/>
        <meta name="viewport" content="width=device-width,minimum-scale=1.0,maximum-scale=1.0,user-scalable=no" />
            
        <link rel="stylesheet" href="css/style.css" />
        <link rel="stylesheet" type="text/css" href="css/updateAccount.css"/>
    </head>
    
    <body ng-app="myApp" ng-controller="updateAccount">
        <div class="page">
            <!-- 头部 start -->
            <header class="header"><h1>经销商账号管理</h1></header>
            <!-- 头部 end -->
              <div class='page_view'>
                <!-- 商店名称 start -->
                <div class='view_form'>
                  <div class='form_Commodity'>
                    <div class='Commodity_name'>商店名称</div>
                    <div class='Commodity_input'>
                      <input class='input' ng-model="distributorName" placeholder='请输入商店名称'></input>
                    </div>
                  </div>
                </div>
                <!-- 商店名称 end -->

                <!-- 店主微信号 start -->
                <div class='view_form'>
                  <div class='form_Commodity'>
                    <div class='Commodity_name'>微信号</div>
                    <div class='Commodity_input input_prices'>
                      <input class='input' ng-model="pwd" placeholder='请输入微信号'></input>
                    </div>
                  </div>
                </div>
                <!-- 店主微信号 end -->
              </div>

              <!-- 修改按钮 start -->
              <div class='form_btn'>
                <div class='btn_submit' ng-click='updateDistributor()'>修改账号</div>
              </div>
              <!-- 修改按钮 end -->
        </div>
        
        <!-- 脚本  -->
        <script type="text/javascript" src="js/jquery-1.11.0.js" ></script>
        <script src="http://cdn.static.runoob.com/libs/angular.js/1.4.6/angular.min.js"></script>
        <script type="text/javascript" src="js/updateAccount.js" ></script>
        
    </body>
</html>
