
 .page{
   width: 100%;
   height: 100%;
 }
 .page_view{
   width: 100%;
 }
 .view_form{
   width: 100%;
 }
 .form_Commodity{
   width: 100%;
   height: 50px;
 }
 .Commodity_name{
   width: 20%;
   margin-left: 10px;
   font-size: 15px;
   font-weight: bold;
   float: left;
   height: 50px;
   line-height: 50px;
 }

/*图片选择*/
.form_img{
  width: 100%;
  height: 105px;
}
.item_img{
  width: 26%;
  float: left;
  margin-left: 21px;
  height: 100px;
  margin-bottom: 21px;
}
.item_img_img{
  width: 100%;
  height: 100px;
}
.img_not{
  width: 26%;
  float: left;
  margin-left: 20px;
  height: 100px;
  background-color: #fff;
  text-align: center;
  font-size: 75px;
  line-height: 100px;
}
/*删除图片*/
.img_tt{
  z-index: 3;
  position:absolute;
  width: 22px;
  height: 22px;
  margin-left:86px;
  margin-top:-10px;

}
span{
    display:none;
}
.true{
  display:block;
}
.false{
  display:none;
}
iframe {
  display:none;
}